@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 38 83% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 38 70% 55%;
    --secondary-foreground: 0 0% 98%;
    --muted: 38 20% 95%;
    --muted-foreground: 38 30% 35%;
    --accent: 38 30% 92%;
    --accent-foreground: 38 10% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 15% 90%;
    --input: 38 15% 90%;
    --ring: 38 83% 47%;
    --radius: 0.5rem;
    
    /* 字体变量 */
    --font-sans: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 38 83% 47%;
    --primary-foreground: 0 0% 98%;
    --secondary: 38 50% 35%;
    --secondary-foreground: 0 0% 98%;
    --muted: 38 25% 25%;
    --muted-foreground: 38 30% 70%;
    --accent: 38 30% 25%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 38 25% 25%;
    --input: 38 25% 25%;
    --ring: 38 83% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
